
#wrapper {
	width: 800px;
	margin: 0 auto;
	font: 12px Verdana;
	border: 1px solid #cccccc;
	background-color: #F2F2F2;
}

#header {
	margin-bottom: 10px;
	background-image: url(../images/MetroHeader.jpg);	
	background-repeat: no-repeat;
	height: 173px;
}

#user {
	width: 788px;
	margin-left: 5px;
	margin-bottom: 5px;
	height: 40px;
	background-color: #F8F8F8;
	border: 1px solid #cccccc;
}
#userPlace {
	float:right;
	margin: 12px 10px 12px 0;
	font: bold 12px Verdana;
}

#footer {
	width: 800px;
	height: 50px;
	background-color: #F8F8F8;
}
#footerPlace {
	float: left;
	margin: 18px 0 20px 340px;
	color: #BFBFBF;
}

#sidebarL {
	width: 195px;
	height: 620px;
	float: left;
	margin: 0 0 5px 5px;
	border: 1px solid #cccccc;
	background-color: #F8F8F8;
	
}

#content {
	width: 587px;
	height: 620px;
	margin: 0 5px 5px 206px;
	border: 1px solid #cccccc;
	background-color: #F8F8F8;	
	
	overflow: scroll;
}

.clear {
	clear: both;
}